<main class="form-wrapper">
    <form (ngSubmit)="aoSubmeter()" class="form" ngNativeValidate>
        <h2 class="titulo">Nova transação</h2>
        <div class="campos">
            <label class="campo-grupo">
                Transação
                <div class="select-wrapper">
                    <select [(ngModel)]="tipoTransacao" name="tipo-transacao" class="campo select-tipo-transacao" required>
                        <option value="" selected disabled>Selecione o tipo de transação</option>
                        <option value="deposito">Depósito</option>
                        <option value="saque">Saque</option>
                    </select>
                </div>
            </label>
            <label class="campo-grupo">
                Valor
                <div class="input-wrapper">
                    <input [(ngModel)]="valorTransacao" type="number" min="0.01" step="0.01" placeholder="0,00" name="valor" 
                    class="campo input-valor-transacao" required>
                </div>
            </label>

            <button class="botao-confirmar-transacao">
                Confirmar transação
            </button>
        </div>
    </form>

</main>