.boas-vindas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  
  .data {
    font-size: 0.8125rem;
  }
  
  
  .titulo {
    font-size: 1.9375rem;
    font-weight: 600;
    line-height: 125%;
  }
  