* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --preto: #000000;
    --cinza-escuro: #8B8B8B;
    --cinza-medio: #A6A6A6;
    --cinza: #CBCBCB;
    --azul-destaques: #90DDFF;
    --azul-hover: #5CC0ED;
    --azul-pressionado: #30A7DC;
    --gradiente-azul: linear-gradient(180deg, #FFF 0%, #6BD1FF 100%);
    --fundo-azul-claro: #F2FBFF;
    --fundo-cinza-claro: #F5F5F5;
  }
  
  html,
  body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    color: var(--preto);
  }
  
  button,
  select,
  input,
  textarea {
    font: inherit;
    color: inherit;
  }
  
  button {
    border: 0;
  }
  
  ul,
  li {
    list-style: none;
  }